{% extends 'base.html.twig' %}

{% block title %}Visiteur - Renseigner{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block body %}
<div class="container">
    <nav style="background-color:#7695ad;" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a style="color:#ffffff; margin-right: 250px" href="/visiteur">Accueil</a></li>
                    <li><a style="color:#ffffff;" href="/renseigner">Renseigner fiche de frais</a></li>
                        <li><a style="color:#ffffff;" href="/consulter">Consulter fiche de frais</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="color:#ffffff;" href="/connexion">Se déconnecter</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <center>
    <div style="width: 50%; border: 1px solid black; background-color: background"><center>        
            <h1>{{ app.session.get('nom') }} {{ app.session.get('prenom') }}</h1>
            {% if error == 1 %}
                <p class="alert alert-danger">Cette fiche de frais existe déjà!</p>
            {% endif %}
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_label(form.mois) }}
            {{ form_widget(form.mois) }}<br/><br/>
            {{ form_label(form.nbjustificatifs) }}
            {{ form_widget(form.nbjustificatifs) }}<br/>
            <br/>
            <div class="row">
                <div>
                    {{ form_widget(form.annuler) }}
                    <a style="margin-left:20px">{{ form_widget(form.valider) }}</a>
                    {{ form_end(form) }}
                </div>
            </div>
            <br/>
        </center>
    </div>
    <br/>
    <div style="width: 50%; border: 1px solid black; background-color: background"><center>
        <h2>Frais Forfait</h2>
        {{ form_start(form3, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_label(form3.quantiteRepas) }}
        {{ form_widget(form3.quantiteRepas) }}<br/><br/>
        {{ form_label(form3.quantiteNuitee) }}
        {{ form_widget(form3.quantiteNuitee) }}<br/><br/>
        {{ form_label(form3.quantiteKilometres) }}
        {{ form_widget(form3.quantiteKilometres) }}<br/><br/>
        {{ form_label(form3.quantiteEtape) }}
        {{ form_widget(form3.quantiteEtape) }}<br/><br/>
        {{ form_label(form3.mois) }}
        {{ form_widget(form3.mois) }}<br/>
        <br/>
        <div class="row">
            <div>
                {{ form_widget(form3.annuler) }}
                <a style="margin-left:20px">{{ form_widget(form3.valider) }}</a>
            </div>
            {{ form_end(form3) }}
        </div>
        <br/>
    </center></div>
    <br/>
    <div style="width: 50%; border: 1px solid black; background-color: background"><center>
        <h2>Frais Hors Forfait</h2>
        {{ form_start(form2, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_label(form2.libelle) }}
        {{ form_widget(form2.libelle) }}<br/>
        {{ form_label(form2.date) }}
        {{ form_widget(form2.date) }}<br/>
        {{ form_label(form2.montant) }}
        {{ form_widget(form2.montant) }}<br/><br/>
        {{ form_label(form2.mois) }}
        {{ form_widget(form2.mois) }}<br/>
        <br/>
        <div class="row">
            <div>
                {{ form_widget(form2.annuler) }}
                <a style="margin-left:20px">{{ form_widget(form2.valider) }}</a>
            </div>
            {{ form_end(form2) }}
        </div>
        <br/>
    </center></div>
    </center>
</div>
{% endblock %}
