{% extends 'base.html.twig' %}

{% block title %}Comptable - Suivi{% endblock %}

{% block body %}
<div class="container">
    <nav style="background-color:#e83753;" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li><a style="color:#ffffff;">{{ app.session.get('prenom') }} {{ app.session.get('nom') }}</a></li>
                </ul>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a style="color:#ffffff;margin-left:200px;" href="/comptable">Accueil</a></li>
                    <li><a style="color:#ffffff;" href="/comptable_valider">Valider fiche de frais</a></li>
                    <li><a style="color:#ffffff;" href="/comptable_suivi">Suivi fiche de frais</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="color:#ffffff;" href="/connexion">Se déconnecter</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div>
    <center>
        {% if fichefrais != null %}
            <p style="font-weight:bold; width:60%; background-color:whitesmoke; border-radius: 5px;" class="table">Fiche Frais</p>
            <table style="width:50%; background-color:whitesmoke; border-radius: 5px;" class="table">
                <thead>
                    <tr>
                        <th scope="col">Mois </th>
                        <th scope="col">Nom </th>
                        <th scope="col">Prenom </th>
                        <th scope="col">Nbjustificatifs</th>
                        <th scope="col">Montantvalide</th>
                        <th scope="col">Datemodif</th>
                        <th scope="col">Etat</th>
                        <th scope="col"></th>
                        <th scope="col"></th>   
                    </tr>
                </thead>
                <tbody>    
                    {% for unefichefrais in fichefrais %}
                        <tr>
                            <th scope="row">{{ unefichefrais.mois }}</th>
                            <td>{{ unefichefrais.idVisiteur.nom }}</td>
                            <td>{{ unefichefrais.idVisiteur.prenom }}</td>
                            <td>{{ unefichefrais.nbjustificatifs }}</td>
                            <td>{{ unefichefrais.montantvalide }}</td>
                            <td>{{ unefichefrais.datemodif|date('d-m-Y') }}</td>
                            <td>{{ unefichefrais.idEtat.libelle }}</td>
                            {% if unefichefrais.idEtat.libelle == "Fiche créée, saisie en cours" %}
                                <form action="/getIdM/{{ unefichefrais.id }}" Method="post">
                                    <th><button>Modifier</button></th>
                                </form>
                            {% endif %}
                            {% if unefichefrais.idEtat.libelle != "Validée et mise en paiement" %}
                                <form action="/getIdV/{{ unefichefrais.id }}" Method="post">
                                    <th><button>Valider</button></th>
                                </form>
                            {% endif %}
                        </tr>           
                    {% endfor %}
                </tbody>
            </table>
            </br>
            </br>
        {% endif %}
        
        {% if fichefraisforfait != null %}
            <p style="font-weight:bold; width:60%; background-color:whitesmoke; border-radius: 5px;" class="table">Fiche Frais Forfait</p>
            <table style="width:50%; background-color:whitesmoke; border-radius: 5px;" class="table">
                <thead>
                    <tr>
                        <th scope="col">Quantité </th>
                        <th scope="col">Libelle </th>
                    </tr>
                </thead>
                <tbody>
                    {% for unefichefraisforfait in fichefraisforfait %}                    
                        <tr>
                            <td>{{ unefichefraisforfait.quantite }}</td>
                            <td>{{ unefichefraisforfait.idFraisForfait.libelle }}</td>  
                        </tr>             
                    {% endfor %}
                </tbody>
            </table>
            </br>
            </br>
        {% endif %}
        
        {% if fichefraishorsforfait != null %}
            <p style="font-weight:bold; width:60%; background-color:whitesmoke; border-radius: 5px;" class="table">Fiche Frais Hors Forfait</p>
            <table style="width:50%; background-color:whitesmoke; border-radius: 5px;" class="table">
                <thead>     
                    <tr>
                        <th scope="col">Mois </th>
                        <th scope="col">Nom </th>
                        <th scope="col">Prenom </th>
                        <th scope="col">Montant</th>
                        <th scope="col">Date</th>
                        <th scope="col">Libelle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for unefichefraishorsforfait in fichefraishorsforfait %}
                        <tr>
                            <th scope="row">{{ unefichefraishorsforfait.mois.id }}</th>
                            <td>{{ unefichefraishorsforfait.idVisiteur.nom }}</td>
                            <td>{{ unefichefraishorsforfait.idVisiteur.prenom }}</td>
                            <td>{{ unefichefraishorsforfait.montant}}</td>
                            <td>{{ unefichefraishorsforfait.date|date('d-m-Y') }}</td>
                            <td>{{ unefichefraishorsforfait.libelle}}</td>   
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </center>
</div>                    
{% endblock %}
